.video-button-container{
width: 100%;
display: flex;
align-items: center;
justify-content:center;
gap: 4rem;
padding: 4rem;

}

.video-container{
   
    width: 30rem;
    aspect-ratio: 16/9;
    border-radius: 2rem;
    object-fit: cover  ;

}

.video-button-container button{
    font-size: 1rem;
    text-transform:uppercase ;
    padding: 1rem 0.7rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    
    
}