.video-button-container{
width: 100%;
display: flex;
align-items: center;
justify-content:center;
gap: 4rem;
padding: 4rem;
margin-left: 6rem;

}

.video-container{
   
    width: 33rem;
    aspect-ratio: 16/9;
    border-radius: 2rem;
    object-fit: cover  ;

}

.video-button-container button{
    font-size: 1rem;
    text-transform:uppercase ;
    padding: 1rem 0.7rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    background-color: #1ED860;
    cursor: pointer;
    
}
.video-button-container button:hover{
    background: #28673e;
}
.video-button-container button:active{
scale:0.97;
}